<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h2 class="mx-2">Mascotas de <%= @client.name %> </h2>
    <%= button_to "Registrar nueva mascota", new_client_pet_path(@client), method: "get", class: "mx-2"%>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Fecha de nacimiento</th>
        <th>Visitas</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.race %></td>
          <td><%= pet.get_birthdate %></td>
          <td><%= pet.history_count%></td>
          <td><%= link_to 'Detalles', client_pet_path(@client, pet) %></td>
          <td><%= link_to 'Editar', edit_client_pet_path(@client, pet) %></td>
          <td><%= link_to 'Eliminar', client_pet_path(@client,pet), method: :delete, data: { confirm: 'Estás seguro/a? No se podrá recuperar la información de la mascota' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Menú de clientes', clients_path %>
</div>