<%= form_with(model: [@client,@pet,pet_history], :html => {:class => "form-horizontal center"} , local: true) do |form| %>
  <% if pet_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_history.errors.count, "error") %> prohibited this pet_history from being saved:</h2>

      <ul>
      <% pet_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :Peso, class: "col-1" %>
    <%= form.text_field :weight, class: "form-control col-6"  %>
  </div>

  <div class="field form-group row">
    <%= form.label :Altura, class: "col-1" %>
    <%= form.text_field :heigth, class: "form-control col-6"  %>
  </div>

  <div class="field form-group row">
    <%= form.label :Notas, class: "col-1" %>
    <%= form.text_area :description, class: "form-control col-6"  %>
  </div>

  <div class="field form-group row">
    <%= form.label :Fecha, class: "col-1" %>
    <%= form.date_field :date, class: "form-control col-6", :value => Time.now.strftime('%Y-%m-%d')%>
  </div>

  <div class="actions">
    <%= form.submit "Fin del control", class: "btn"%>
  </div>
<% end %>
