<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h3>Historial de <%= @pet.name %> </h3>
    <%= button_to "Nuevo control", new_client_pet_pet_history_path(@client, @pet), method: "get", class: "mx-2"%>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Notas</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pet_histories.each do |pet_history| %>
        <tr>
          <td><%= pet_history.get_date %></td>
          <td><%= pet_history.weight %></td>
          <td><%= pet_history.heigth %></td>
          <td><%= pet_history.description %></td>
          <td><%= link_to 'Detalles', client_pet_pet_history_path(@client, @pet, pet_history) %></td>
          <td><%= link_to 'Editar', edit_client_pet_pet_history_path(@client, @pet, pet_history) %></td>
          <td><%= link_to 'Eliminar', client_pet_pet_history_path(@client,@pet,pet_history), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Mascotas de ' + @client.name , client_pets_path(@client) %>
</div>