<p id="notice"><%= notice %></p>
  <div class="container">

    <h3>Control de <%= @pet.name%> </h3>
    <div class="row">
      <div class="col-4">
        <table class="table">
          <tr>
            <td><strong>Fecha:</strong></td>
            <td><%= @pet_history.get_date %></td>
          </tr>
          <tr>
            <td><strong>Peso:</strong></td>
            <td><%= @pet_history.weight %></td>
          </tr>
          <tr>
            <td><strong>Altura:</strong></td>
            <td><%= @pet_history.heigth %></td>
          </tr>
          <tr>
            <td><strong>Notas:</strong></td>
            <td><%= @pet_history.description %></td>
          </tr>
        </table>
      </div>
      <div>
        <%= button_to "Editar control", edit_client_pet_pet_history_path(@client, @pet, @pet_history), method: "get", class: "mx-2"%>
      </div>
    </div>

  <%= link_to 'Historial de ' + @pet.name, client_pet_pet_histories_path(@client,@pet) %>
  </div>
