<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-4">
      <table class="table">
        <tr>
          <td><strong>Nombre:</strong></td>
          <td><%= @client.name %></td>
        </tr>
        <tr>
          <td><strong>Contacto:</strong></td>
          <td><%= @client.phone %></td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td><%= @client.email %></td>
        </tr>
        <tr>
          <td><strong>Mascotas registradas</strong></td>
          <td><%= @client.pets.count %></td>
        </tr>
      </table>
    </div>
    <div>
      <%= button_to "Editar información de cliente", edit_client_path(@client), method: "get", class: "mx-2"%>
    </div>
  </div>
  <% if @client.pets.count > 0 %>
    <div class="row">
      <h4 class="mx-2">Mascotas</h4>
      <%= button_to "Registrar mascota", new_client_pet_path(@client), method: "get", class: "mx-2"%>
      <%= button_to "Atender mascotas", client_pets_path(@client), method: "get", class: "mx-2"%>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Max Altura</th>
          <th>Max Peso</th>
        </tr>
      </thead>
      <% @client.pets.each do |pts| %>
        <tbody>
          <tr>
            <td> <%= pts.name %> </td>
            <td> <%= pts.max_height %> </td>
            <td> <%= pts.max_weight %> </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    
  <% else %>
    <div class="row">
      <h3>No hay mascotas registradas para este cliente</h3>
      <%= button_to "Registrar mascota", new_client_pet_path(@client), method: "get", class: "mx-2"%>
    </div>
  <% end %>


  <p><%= link_to 'A menú de clientes', clients_path %></p>
</div>